.follow {
    background-color: var(--background-gray-color-03);

    &:hover {
        background-color: var(--default-background);
        border: 1px solid var(--background-gray-color-75);
    }
}
