.secondVideoElement {
    display: none;
}
.snapshot-container {
    width: 85.75px;
    height: 150px;
    background-color: #f8f8f8;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.snapshot-temp {
    //display: none;
}

.snapshot-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
