.mobile-frame {
    position: relative;
    width: 284px;
    height: 587px;
    &:hover > .video-control {
        opacity: 1;
    }
    .frame {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .meta-data {
        position: absolute;
        bottom: 90px;
        left: 25px;
        color: #ffffffbf;
        opacity: 0.7;
        font-size: 1.2rem;
        z-index: 2;
    }

    .music {
        display: flex;
        align-items: center;
        .music-running {
            padding-top: 3px;
            width: fit-content;
            margin-left: 5px;
        }
    }

    .header-item {
        position: absolute;
        padding: 0 10px;
        top: 50px;
        left: 15px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0.75;
        z-index: 2;
        img {
            width: 18px;
            height: 18px;
        }
        span {
            font-size: 1.2rem;
            font-weight: 700;
            color: #ffffffbf;
        }
        .boder-bot {
            color: var(--white);
            &::after {
                content: '';
                position: absolute;
                bottom: -9px;
                left: 67%;
                transform: translateX(-50%);
                height: 2px;
                width: 18px;
                background: white;
            }
        }
    }

    .control {
        position: absolute;
        bottom: 22px;
        left: 8px;
        width: 94%;
        height: 50px;
        background-color: #000;
        z-index: 2;
        overflow: hidden;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;

        .img-control {
            width: 100%;
            object-fit: cover;
            opacity: 0.7;
        }
    }

    .icon-frame {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 90px;
        right: 26px;
        opacity: 0.7;
        z-index: 2;
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 16px;
        background-color: rgba($color: #757171, $alpha: 0.7);
    }
    .avatar-rotate-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        margin-top: 16px;
    }
    .avatar-rotate {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
    }

    .video-preview {
        width: 90%;
        height: 84%;
        position: absolute;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        top: 26px;
        left: 14px;
        object-fit: cover;
    }

    .video-control {
        position: absolute;
        bottom: 50px;
        left: 8px;
        width: 95%;
        height: auto;
        z-index: 5;
        opacity: 0;
        transition: opacity 200ms ease 0s;
    }
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
