.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--default-background);
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.container {
    //position: relative;
    width: var(--default-layout-width);
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--default-background);
    margin-top: var(--default-layout-header-height);
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.content {
    background-color: var(--default-background);
    max-width: 692px;
    width: 100vw;
    margin: 0 16px 0 400px;
    padding: 24px 0;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

@media (max-width: 1071px) {
    .content {
        margin: 0 16px 0 20%;
    }
}
