.custom-header {
    width: 1366px;
}

.custom-sidebar {
    width: 232px;
}

.wrapper {
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    background-color: var(--default-background);
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.content {
    flex: 1;
    padding-left: 232px;
    max-width: 100%;
    // background-color: #000;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

@media (max-width: 1024px) {
    .content {
        margin-left: -10px;
    }
}

@media (max-width: 768px) {
    .content {
        padding-left: 80px;
    }
}

@media (max-width: 426px) {
    .content {
        padding-left: 50px;
    }
}
