.wrapper {
    margin-left: 22%;
}

.load-more {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 350px;
}

@media (max-width: 767px) {
    .wrapper {
        margin-left: 12px;
        width: calc(396px - 60px);
    }
}
