.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    position: relative;
    padding-bottom: 8px;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
    &::after {
        position: absolute;
        content: '';
        height: 0;
        width: 0;
        top: -1.5rem;
        right: 2rem;
        border: 8px solid transparent;
        border-bottom: 7px solid var(--default-poper-color);
        transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
    }
}
.arrow {
    position: relative;
    background-color: var(--default-poper-color);
    &::after {
        position: absolute;
        content: '';
        height: 0;
        width: 0;
        top: 100%;
        left: 4.3rem;
        border: 10px solid transparent;
        border-top: 8px solid var(--default-poper-color);
        z-index: 999;
    }
}

.menu-body {
    overflow-y: auto;
    overscroll-behavior: contain;
}

.hidden {
    overflow-y: hidden;
}

// Menu items

.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 16px;
    margin: 2px 0;
    line-height: 1.8rem;
    font-family: var(--font-family);
    background-color: var(--default-poper-color);
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
    &:hover {
        background-color: var(--background-gray-color-03);
    }

    &.separate {
        border-top: 1px solid var(--background-gray-color-12);
    }
}
.customMenuItem {
    padding: 23px 0;
    font-weight: 600 !important;
    display: flex;
    align-items: center;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.uploadLayout {
    background-color: #fff;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        // border: 1px solid var(--background-gray-color-12);
    }

    span {
        color: var(--text-primary-color);
    }
}

.custom {
    .item-container {
        padding: 0 16px;
        &:hover {
            background-color: var(--background-gray-color-03);
        }
    }
    // &:hover > .menu-item {
    //     background-color: transparent;
    // }

    .item-container > .menu-item {
        background-color: transparent;
    }
}

//Header

.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
    color: var(--text-primary-color);
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    color: var(--text-primary-color);
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.expand-btn {
    padding-top: 5px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: var(--text-primary-color);
    &:hover {
        background-color: var(--background-gray-color-03);
    }
}
