.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 20px;
    cursor: pointer;

    &:hover {
        background: var(--background-gray-color-03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.name {
    color: var(--text-primary-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.check {
    margin-left: 6px;
    font-size: 1.2rem;
    color: rgba(32, 213, 236, 1);
}

.username {
    font-size: 1.4rem;
    color: var(--text-primary-color);
}
