.wrapper {
    width: 226px;
    height: 302px;
    border-radius: 8px;
    background-color: rgb(221, 230, 226);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    z-index: 0;
}

.popular-video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    z-index: -1;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 102px;
    z-index: 99;
}

.thumb-video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    z-index: 1;
}

.active {
    z-index: 1;
}

h5 {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 25px;
    text-overflow: ellipsis;
}
.nickname {
    span {
        color: rgb(255, 255, 255);
        font-size: 1.4rem;
        line-height: 20px;
        font-weight: 600;
    }
    .tick {
        width: 12px;
        height: 12px;
        margin-left: 4px;
        color: #20d5ec;
    }
}

.avatar {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.follow-btn {
    width: 164px;
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 600;
}
