.wrapper {
    width: 200px;
    height: 302px;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    background-color: rgb(221, 230, 226);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    z-index: 0;
    cursor: pointer;
}

.popular-video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    z-index: -1;
}
.active {
    z-index: 3;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 102px;
    z-index: 99;
}

.content-profile {
    position: absolute;
    bottom: 10px;
    left: 12px;
    width: fit-content;
    display: flex;
    color: #fff;
    align-items: center;
    z-index: 99;

    span {
        font-size: 1.6rem;
        font-weight: 600;
        margin-left: 4px;
    }
}

.thumb-video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    z-index: 2;
}

h5 {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 25px;
    text-overflow: ellipsis;
}
.nickname {
    span {
        color: rgb(255, 255, 255);
        font-size: 1.4rem;
        line-height: 20px;
        font-weight: 600;
    }
    .tick {
        width: 12px;
        height: 12px;
        margin-left: 4px;
        color: #20d5ec;
    }
}

.avatar {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.follow-btn {
    width: 164px;
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 600;
}

@media (max-width: 1160px) {
    .wrapper {
        width: 180px;
        flex-basis: 23%;
    }

    .nickname {
        span {
            font-size: 1.2rem;
        }
    }
    h5 {
        font-size: 1.4rem;
    }
    .follow-btn {
        width: 120px;
        font-size: 1.6rem;
    }
}

@media (max-width: 1071px) {
    .wrapper {
        flex-basis: 28%;
    }
}

@media (max-width: 808px) {
    .wrapper {
        width: 180px;
        flex-basis: 30%;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 180px;
        flex-basis: auto;
    }
}

@media (max-width: 703px) {
    .wrapper {
        width: 180px;
        height: 350px;
        flex-basis: 45%;
    }
}

@media (max-width: 492px) {
    .wrapper {
        width: 100%;
        height: 450px;
        flex-basis: 100%;
    }
}
