.wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: linear;
    opacity: 1;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    box-sizing: border-box;
    overflow: auto;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.container {
    position: relative;
    margin-bottom: 0px;
    min-width: 400px;
    min-height: 280px;
    padding: 40px 32px 32px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--white-color-3);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2;
    animation: appear 0.4s;
}

.title {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: var(--text-primary-color);
    margin-bottom: 20px;
}

.key-item {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-primary-color);
    border-top: 1px solid var(--border-top);
    border-bottom: 1px solid var(--border-top);

    span {
        font-size: 1.4rem;
        line-height: 20px;
        font-weight: 400;
    }
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    color: var(--text-primary-color);
    cursor: pointer;
}

@keyframes appear {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
