.live-loading {
    height: 100%;
    max-height: 800px;
    background-color: var(--background-gray-color-241);
    border-radius: 8px;

    position: relative;
}

.heart-icon {
    position: absolute;
    bottom: 64px;
    right: 8px;
    height: 350px;
    opacity: 0.5;
}

.live-stream-icon {
    position: absolute;
    width: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.loading__view {
    position: absolute;
    right: 40px;
    top: 25px;
    height: 25px !important;
    width: 50px;
}

.loading__info {
    padding: 24px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.live-icon {
    display: inline-block;
    padding: 0 4px;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--background-gray-color-02);
    color: var(--white-color-4);
}

.username {
    margin: 10px 0;
    width: 180px;
}

.description {
    width: 350px;
}

.username,
.description,
.loading__view {
    height: 20px;
    border-radius: 100px;
    background-color: var(--background-gray-color-06);
    background-image: linear-gradient(
        90deg,
        rgba(22, 24, 35, 0) 0%,
        rgba(22, 24, 35, 0.08) 50%,
        rgba(22, 24, 35, 0) 100%
    );
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    animation: loading-animate cubic-bezier(0, 0, 1, 1) 1.5s infinite;
}

@keyframes loading-animate {
    0% {
        background-position-x: 200%;
    }

    100% {
        background-position-x: -150%;
    }
}
