.line-loading {
    width: 157px;
    height: 19px;
    margin-bottom: 12px;
    border-radius: 4px;

    background-color: var(--background-gray-color-06);
    background-image: linear-gradient(
        90deg,
        rgba(22, 24, 35, 0) 0%,
        rgba(22, 24, 35, 0.04) 50%,
        rgba(22, 24, 35, 0) 100%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    animation: 1.5s cubic-bezier(0, 0, 1, 1) 0s infinite normal none running background-effect;
}

@keyframes background-effect {
    0% {
        background-position-x: 200%;
    }

    100% {
        background-position-x: -150%;
    }
}
