.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
    justify-content: space-between;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 6px 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--background-gray-color-06);
    color: #fff;
    cursor: pointer;
}

heart-animation {
    width: 2.4rem;
    height: 2.4rem;
    color: var(--primary);
}

.modalOn {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.noneBorder {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.count {
    color: #fff;
    font-size: 1.2rem;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
}

.shake {
    &:hover {
        animation: shake 0.3s ease-in-out;
        transform: scale(1.2);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0);
        //transform: translateZ(10px);
    }
    50% {
        transform: rotate(-10deg);
        //transform: translateZ(50px);
    }
    100% {
        transform: rotate(0);
        //transform: translateZ(150px);
    }
}
