.wrapper {
    width: 100%;
    height: 100%;
    padding: 16px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //margin: 0 129px;
    background-color: #f8f8f8;
    position: relative;
    z-index: 1;
}

.upload-container {
    width: 1100px;
    //height: 586px;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    border-radius: 8px;
    padding: 64px 50px;
}

.label-file {
    display: none;
}

.upload-info {
    height: 458px;
    border: 2px dashed rgba(22, 24, 35, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color: #f8f8f8;
    }

    .title {
        font-size: 1.8rem;
        font-weight: 600;
        color: #161823;
        margin-top: 24px;
    }

    .text-info {
        margin: 2px 0;
        margin-bottom: 6px;
        font-size: 1.4rem;
        font-weight: 400;
        color: #161823bf;
        line-height: 1.5;
    }

    .text-video {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            margin-bottom: 6px;
            font-size: 1.4rem;
            font-weight: 400;
            color: #16182380;
            line-height: 1.5;
        }
    }
}

.upload-btn {
    margin-top: 20px;
    width: 400px;
}

.upload-container-v2 {
    width: 1100px;
    height: 949px;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    border-radius: 8px;
    padding: 24px 40px;

    h1 {
        font-size: 2.4rem;
        line-height: 1.5;
        font-weight: 700;
    }
    h2 {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #16182380;
    }
}

.header-upload {
    width: 1100px;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 16px 24px;
}

.edit-video {
    width: 49.5%;
    height: 84px;
    background-color: #1618230f;
    border: 0.5px solid #1618231f;
    box-shadow: white 0px 0px 0px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-edit-card {
    width: 313px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.video-index {
    width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.video-cover {
    width: 35px;
    height: 52px;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.video-info {
    margin-left: 8px;

    .video-name {
        width: 230px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        padding-bottom: 5px;
    }

    .video-time {
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 400;
        color: #16182380;
    }
}

.btn-edit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 9px;
    margin-right: 16px;
}

.split-card {
    width: 49.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px dashed rgba(22, 24, 35, 0.75);
    border-radius: 8px;
    padding: 15px 24px;
}

.split-body {
    span {
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 400;
        color: #161823;
    }
}

.split-increment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4px;
}
.split-num,
.icon-plus,
.icon-minus {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    border: 0.5px solid rgba(22, 24, 35, 0.12);
    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.split-num {
    width: 48px;
    span {
        font-weight: 600;
        font-size: 1.4rem;
    }
}
.icon-minus {
    border-right: none;
}
.icon-plus {
    border-left: none;
}

.btn-split {
    .split-custom {
        min-width: 96px;
    }
}

.content {
    display: flex;
}

.mobile-frame {
    position: relative;
    width: 284px;
    height: 587px;
    &:hover > .video-control {
        opacity: 1;
    }
    .frame {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .meta-data {
        position: absolute;
        bottom: 90px;
        left: 25px;
        color: #ffffffbf;
        opacity: 0.7;
        font-size: 1.2rem;
        z-index: 2;
    }

    .music {
        display: flex;
        align-items: center;
        .music-running {
            padding-top: 3px;
            width: fit-content;
            margin-left: 5px;
        }
    }

    .header-item {
        position: absolute;
        padding: 0 10px;
        top: 50px;
        left: 15px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0.75;
        z-index: 2;
        img {
            width: 18px;
            height: 18px;
        }
        span {
            font-size: 1.2rem;
            font-weight: 700;
            color: #ffffffbf;
        }
        .boder-bot {
            color: var(--white);
            &::after {
                content: '';
                position: absolute;
                bottom: -9px;
                left: 67%;
                transform: translateX(-50%);
                height: 2px;
                width: 18px;
                background: white;
            }
        }
    }

    .control {
        position: absolute;
        bottom: 22px;
        left: 8px;
        width: 94%;
        height: 50px;
        background-color: #000;
        z-index: 2;
        overflow: hidden;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;

        .img-control {
            width: 100%;
            object-fit: cover;
            opacity: 0.7;
        }
    }

    .icon-frame {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 90px;
        right: 26px;
        opacity: 0.7;
        z-index: 2;
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 16px;
        background-color: rgba($color: #757171, $alpha: 0.7);
    }
    .avatar-rotate-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        margin-top: 16px;
    }
    .avatar-rotate {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
    }

    .video-preview {
        width: 90%;
        height: 84%;
        position: absolute;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        top: 26px;
        left: 14px;
        object-fit: cover;
    }

    .video-control {
        position: absolute;
        bottom: 50px;
        left: 8px;
        width: 95%;
        height: auto;
        z-index: 5;
        opacity: 0;
        transition: opacity 200ms ease 0s;
    }
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.form {
    padding-top: 15px;
    width: 704px;
    height: 682px;
    margin-left: 24px;
}

.caption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    .title-caption {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 700;
        color: #161823;
        font-family: var(--font-family);
    }

    .count-char {
        font-size: 1.3rem;
        line-height: 17px;
        color: #16182380;
        font-weight: 400;
        white-space: pre;
    }
}

.caption-content {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0px 0 0px 16px;
    margin-bottom: 25px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    .email {
        margin-left: 15px;
        cursor: pointer;
    }
    .hastag {
        margin-left: 10px;
        cursor: pointer;
    }
}
.input-caption {
    width: 605px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 18px;
}

.thumbnail {
    width: 100%;
    margin-bottom: 24px;
    span {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 700;
        color: #161823;
    }
}
.thumb-image {
    width: 100%;
    height: 168px;
    padding: 6px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
}

.img-container {
    position: relative;
    width: 100%;
    border: 2px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.time-snapshot {
    position: absolute;
    left: -5px;
    width: 100%;
    z-index: 5;
    appearance: none;
    background-color: transparent;
    cursor: grab;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: transparent;
        width: 12px;
        height: 15px;

        cursor: grab;
    }
    &::-webkit-slider-runnable-track {
        height: 170px;
    }
}

.mask-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 168px;
    z-index: 2;
}
.image {
    width: 85.75px;
    height: 150px;
    background-color: #f8f8f8;
    object-fit: cover;
    display: none;
    .image-none {
        display: none;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
        z-index: -99;
    }
}

.snapshot-container {
    width: 85.75px;
    height: 150px;
    background-color: #f8f8f8;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
        z-index: -99;
    }
}

.visible {
    visibility: visible;
}
.image-dragbox {
    position: absolute;
    top: -12px;
    left: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 175px;
    padding: 6px;
    cursor: grab;
    z-index: 3;
    background-color: #fff;
    box-shadow: rgba(34, 90, 89, 0.2) 2px 4px 20px;
    border-radius: 8px;
    transition: tranform 0.2s ease-in-out;
    .video-snapshot {
        width: 100%;
        height: 100%;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
            opacity: 1 !important;
        }
    }
}

.permisson {
    display: flex;
    flex-direction: column;

    span {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 700;
        color: #161823;
    }
}

.select-container {
    width: 300px;
    height: 36px;
    position: relative;
    background-color: transparent;
    margin-bottom: 24px;
    z-index: 2;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 7px 12px;
    font-size: 1.6rem;
    line-height: 22px;
    background-color: transparent;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    color: rgb(22, 24, 35);
    cursor: pointer;
    span {
        font-weight: 400;
    }
}

.icon {
    display: flex;
    align-items: center;
    width: 14px;
    height: 14px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transform: rotate(180deg);
    transform-origin: center center;
    z-index: 1;
}

.activeIcon {
    transform: rotate(0);
}

.select-item {
    position: relative;
    display: block;
    width: 300px;
    height: 134px;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: overlay;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    z-index: 1000;
    .item {
        position: relative;
        width: 100%;
        height: 42px;
        padding: 10px 12px;
        line-height: 22px;
        color: rgb(22, 24, 35);
        z-index: 1000;
        cursor: pointer;
        span {
            font-size: 1.6rem;
            font-weight: 400;
            user-select: none;
        }
        &:hover {
            background: #f8f8f8;
        }
    }
}

.activeItem {
    background-color: #1618230f;
    &:hover {
        background-color: #1618230f !important;
    }
}

.selected {
    display: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-right: 25px;
    span {
        padding-left: 12px;
        font-weight: 400;
    }
}

.checkbox-item {
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.checked-item {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    visibility: hidden;
}

.checked {
    visibility: visible;

    & ~ input[type='checkbox'] {
        border: 1px solid var(--primary);
    }
}

input[type='checkbox'] {
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    appearance: none;
    cursor: pointer;
    border: 1px solid #b8b4b4;
    &:hover {
        border: 1px solid var(--primary);
    }
}

.copy-check {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 24px 0 6px 0;
}

.check-btn {
    margin-left: 15px;
}

.switch {
    position: relative;
    cursor: pointer;
    width: 44px;
    height: 24px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    background: #1618231f;
    border-radius: 100rem;
    transition: background-color 0.25s linear;
}

.switch:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    background-color: #fff;
    top: 2px;
    left: 2px;
    transition: background-color 0.25s linear, transform 0.25s linear;
}

.switch-input {
    display: none;
}

.switch-input:checked + .switch {
    background-color: #0be09b;
}

.switch-input:checked + .switch:after {
    transform: translateX(20px);
    background-color: white;
}

.check-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 6px;
    background-color: rgba(22, 24, 35, 0.06);
    transition: height 0.2s ease-in;
    span {
        font-weight: 400;
        color: #161823bf;
        font-size: 1.4rem;
        line-height: 1.5;
        padding-left: 5px;
    }
}

.note {
    width: 100%;
    margin-block: 0px;
    p {
        font-weight: 400;
        color: #161823bf;
        font-size: 1.2rem;
        line-height: 1.5;
    }
    span {
        color: #161823bf;
        font-size: 1.2rem;
        line-height: 1.5;
        padding-left: 4px;
        cursor: pointer;
    }
}
.button {
    margin-top: 24px;
}

.btn-post,
.btn-discard {
    width: 164px;
    height: 48px;
}

.btn-post {
    span {
        color: #ffff !important;
    }
}

.footer {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 356px;
    background-color: #000;
    padding: 40px 0 0 378px;
    color: #fff;
    .logo {
        position: absolute;
        top: 35px;
        left: 140px;
        img {
            margin-left: 8px;
        }
    }
}
.footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-item {
    width: 226px;
    padding-right: 8px;

    h4,
    h5 {
        font-size: 1.4rem;
        line-height: 28px;
        font-weight: 700;
        border: 2px solid transparent;
        cursor: pointer;
    }
    h5 {
        width: fit-content;
        color: #ccc;
        font-weight: 600;

        &:hover {
            border-bottom: 2px solid #fff;
        }
    }
}

.language {
    position: absolute;
    bottom: 24px;
    left: 0;
    margin-top: 60px;
    padding: 0 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 36px;
    background-color: #000;

    select {
        width: 170px;
        height: 34px;
        font-size: 1.4rem;
        color: #fff;
        padding: 0 5px;
        background: transparent;
    }
    option {
        color: #000;
    }
    span {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: rgb(138, 139, 145);
    }
}
