.switch {
    margin-left: 35px;
    display: inline-block;
    width: 44px;
    height: 24px;
    background-color: rgba(22, 24, 35, 0.12);
    border-radius: 100px;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    position: relative;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: var(--background-gray-color-16);
    }

    &::after {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        transition: inherit;

        position: absolute;
        left: 2px;
        top: 2px;
    }
}

#theme-input:checked {
    border: 2px solid red;

    & + .switch {
        background-color: rgb(11, 224, 155);

        &::after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
        }
    }
}
