.wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: linear;
    opacity: 1;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    box-sizing: border-box;
    overflow: auto;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}
.update-wrapper {
    padding: 32px 16px;
    -webkit-box-pack: center;
    overflow: visible;
    max-height: 100vh;
}
.update-container {
    max-width: 700px;
    border-radius: 8px;
    background-color: var(--default-background);
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 73px;
    font-size: 2.4rem;
    font-weight: 600;
    padding: 24px 24px 12px;
    line-height: 36px;
    color: var(--text-primary-color);
    border-bottom: 0.5px solid var(--background-gray-color-02);
}

.close-btn {
    color: var(--background-gray-color-75);
    cursor: pointer;
}

.body {
    width: 700px;
    padding: 8px 24px 0px;
}
.first-name,
.last-name,
.birthday,
.bio,
.profile-photo {
    color: var(--text-primary-color);
    height: 129px;
    padding: 16px 0px;
    display: flex;
    border-bottom: 0.5px solid var(--background-gray-color-12);

    span {
        width: 120px;
        font-size: 1.6rem;
        font-weight: 600;
        margin-right: 24px;
    }
    .label-avatar {
        display: none;
    }
    .avatar-container {
        position: relative;
        width: 96px;
        height: 96px;
        margin-left: 128px;
        cursor: pointer;
    }

    .avatar-preview {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .edit-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid rgb(208, 208, 211);
        width: 32px;
        height: 32px;
        background-color: var(--default-background);
        cursor: pointer;
    }
}
.last-name,
.birthday,
.first-name {
    .content-edit {
        width: 360px;
    }

    input {
        background-color: var(--background-gray-color-06);
        font-size: 1.6rem;
        width: 360px;
        height: 38px;
        line-height: 24px;
        padding: 7px 12px;
        border: none;
        box-sizing: border-box;
        color: var(--text-primary-color);
    }

    p {
        padding-top: 5px;
        font-size: 1.2rem;
        line-height: 18px;
        color: var(--background-gray-color-75);
    }
}
.birthday,
.last-name {
    height: fit-content;
}

.bio {
    height: 157px;
    border: none;
    .bio-edit {
        textarea {
            width: 360px;
            border-radius: 4px;
            background-color: var(--background-gray-color-06);
            caret-color: var(--caret-color);
            font-size: 1.6rem;
            height: 100px;
            padding: 12px;
            resize: none;
            box-sizing: border-box;
            line-height: 24px;
            border: none;
            outline: none;
            color: var(--text-primary-color);
        }
        p {
            font-size: 1.2rem;
            line-height: 18px;
            color: var(--background-gray-color-75);
        }
    }
}

.footer {
    border-top: 0.5px solid var(--background-gray-color-02);
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .cancel-container {
        margin-right: 10px;
    }
    .save-btn,
    .cancel-btn {
        background-color: var(--background-gray-color-241);
        min-width: 96px;
        min-height: 28px;
        font-size: 1.4rem;
        font-weight: 600;
        &:hover {
            background-color: var(--background-gray-color-248);
        }
    }

    .save-container {
        margin-right: 20px;
    }

    .save-btn {
        background-color: var(--background-gray-color-06);
        color: var(--background-gray-color-34);
        border: 1px solid var(--background-gray-color-12);
        height: 36px;
        border-radius: 4px;
        font-size: 1.4rem;
        font-weight: 600;
        font-family: 'ProximaNova', sans-serif;
        padding-bottom: 2px;
        cursor: pointer;
    }

    .submit {
        background-color: var(--primary);
        color: var(--white);
        &:hover {
            border-color: var(--primary);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        }
    }
}

@media (max-width: 767px) {
    .wrapper {
        width: 100%;
    }
    .update-container {
        max-width: 400px;
    }

    .avatar-container {
        margin-left: 20px !important;
    }

    .last-name,
    .birthday,
    .first-name,
    .bio {
        width: 350px;
    }
    input {
        width: 200px !important;
    }
    .bio-edit {
        textarea {
            width: 246px !important;
        }
    }
}
