.footer {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 356px;
    background-color: #000;
    padding: 40px 0 0 378px;
    color: #fff;
    .logo {
        position: absolute;
        top: 35px;
        left: 140px;
        img {
            margin-left: 8px;
        }
    }
}
.footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-item {
    width: 226px;
    padding-right: 8px;

    h4,
    h5 {
        font-size: 1.4rem;
        line-height: 28px;
        font-weight: 700;
        border: 2px solid transparent;
        cursor: pointer;
    }
    h5 {
        width: fit-content;
        color: #ccc;
        font-weight: 600;

        &:hover {
            border-bottom: 2px solid #fff;
        }
    }
}

.language {
    position: absolute;
    bottom: 24px;
    left: 0;
    margin-top: 60px;
    padding: 0 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 36px;
    background-color: #000;

    select {
        width: 170px;
        height: 34px;
        font-size: 1.4rem;
        color: #fff;
        padding: 0 5px;
        background: transparent;
    }
    option {
        color: #000;
    }
    span {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: rgb(138, 139, 145);
    }
}
